:root {
    --color-white: #fff;
    --color-black: #333;
    --color-gray: #75787b;
    --color-gray-light: #bbb;
    --color-gray-disabled: #e8e8e8;
    --color-green: #53a318;
    --color-green-dark: #383;
    --font-size-small: .75rem;
    --font-size-default: .875rem;
    --next-button-background-color: #53a318;
    --next-button-hover-background-color: #383;
    --finish-button-background-color: #189ea3;
    --finish-button-hover-background-color: rgb(51, 116, 136);
    --button-disabled-background-color: #dba9a9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-black);
}

h2 {
    color: var(--color-gray);
    font-size: var(--font-size-small);
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section {
    margin-bottom: 2rem;
}

.progress_bar {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.progress_bar li {
    direction: rtl;
    flex: 2;
    position: relative;
    padding: 0 0 14px 0;
    font-size: var(--font-size-default);
    line-height: 1.5;
    color: var(--color-green);
    font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 2px solid var(--color-gray-disabled);
}

.progress_bar li:first-child,
.progress_bar li:last-child {
    flex: 1;
}

.progress_bar li:last-child {
    text-align: right;
}

.progress_bar li:first-child {
    text-align: left;
}

.progress_bar li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--color-gray-disabled);
    border-radius: 50%;
    border: 2px solid var(--color-white);
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all .2s ease-in-out;
}

.progress_bar li:first-child:before {
    left: 0;
}

.progress_bar li:last-child:before {
    right: 0;
    left: auto;
}

.progress_bar span {
    transition: opacity .3s ease-in-out;
}

.progress_bar li:not(.is_active) span {
    opacity: 1;
    color: var(--color-gray-light);
}

.progress_bar .is_complete:not(:first-child):after,
.progress_bar .is_active:not(:first-child):after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid var(--color-green);
}

.progress_bar .is_active:after {
    border-bottom: 2px solid var(--color-gray-disabled) !important;
}

.li:first-child::after {
    display: none;
}

.progress_bar li:last-child span {
    width: 200%;
    display: inline-block;
    position: absolute;
    left: -100%;
}

.progress_bar .is_complete:last-child:after,
.progress_bar .is_active:last-child:after {
    width: 200%;
    left: -100%;
}

.progress_bar .is_complete:before {
    background-color: var(--color-green);
}

.progress_bar .is_active:before,
.progress_bar li:hover:before,
.progress_bar .is-hovered:before {
    background-color: var(--color-white);
    border-color: var(--color-green);
}

.progress_bar li:hover:before,
.progress_bar .is-hovered:before {
    transform: scale(1.33);
}

.progress_bar li:hover span,
.progress_bar li.is-hovered span {
    opacity: 1;
}

.progress_bar:hover li:not(:hover) span {
    opacity: 1;
}

.x-ray .progress_bar,
.x-ray .progress_bar li {
    border: 1px dashed red;
}

.progress_bar .has-changes {
    opacity: 1 !important;
}

.progress_bar .has-changes:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: calc(50% - 4px);
    bottom: -20px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23ed1c24%22%20d%3D%22M4%200l4%208H0z%22%2F%3E%3C%2Fsvg%3E');
} 